*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  overflow-y: hidden;
}

.main {
  padding: 10px;
}

.tree-container {
  padding-left: 0;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.clickable {
  cursor: pointer;
  margin: 0 2px;
}

.statusbar {
  font-size: 1.5rem;
  color: white;
  height: 2.5rem;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #ee6e73;
  opacity: 1;
  margin: 0;
}
.statusbar span {
  padding: 0 2rem;
}

.collapse-expand-item {
  margin: 0 10px;
}

.spacer {
  margin: 0 17px;
}

.indent {
  margin: 0 28px;
}

.moveable {
  cursor: move;
}

.tree-item {
  cursor: pointer;
}

.tree-item-header.active {
  background: #e0e0e0;
}

.tree-item-header:focus {
  color: blue;
  background-color: #cf5c3f;
}
.tree-item-header {
  line-height: 36px;
}

.tree-item-header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.tree-item .act-group {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  float: right;
}
.tree-item-header:hover .act-group {
  visibility: visible;
  opacity: 1;
}

.act {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.3rem;
}

.act:hover {
  background: #e0e0e0;
}

.tree-item .act {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.tree-item:hover .act {
  visibility: visible;
  opacity: 1;
}

ul.tree-item-body {
  padding-left: 1.7rem;
}

span.tree-item-title {
  margin-right: 1rem;
}

div.icon-label {
  display: inline-block;
}

div.icon-label .material-icons {
  vertical-align: middle;
  margin-right: 8px;
  padding-bottom: 5px;
}

.mithril-date-picker-container > .mithril-date-picker > .current-date {
  width: 250px;
  background: #dddddd;
  padding: 6px;
  font-size: 19px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.input-field {
  margin-bottom: 0.5rem;
}
.input-field.inline {
  vertical-align: baseline;
}
span.inline {
  font-size: 16px;
}
.input-field.inline.xs {
  width: 70px;
}
.input-field.inline.small {
  width: 100px;
}
.input-field.inline.medium {
  width: 130px;
}
.input-field.inline.large {
  width: 160px;
}
.row.sb {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.row.sb.large {
  height: 84vh;
}
