*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  overflow-y: hidden;
}

.main {
  padding: 2px 0 0 10px;
}

/* Set theme color */
.btn,
.btn-floating,
.page-footer,
.nav-wrapper,
.statusbar,
.nav-content {
  background-color: #fdb836;
}
.input-field,
.input-field > label,
.input-field > .material-icons,
.dropdown-content > li > a,
.secondary-content > .material-icons {
  color: #b4790c;
}
.tabs.tabs-transparent .tab a,
nav ul a {
  /* font-weight: bold; */
  color: black;
}

.clickable {
  cursor: pointer;
  margin: 0 2px;
}

.statusbar {
  font-size: 14px;
  text-transform: uppercase;
  /* color: white; */
  height: 26px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  /* background-color: #ee6e73; */
  opacity: 1;
  margin: 0;
}
.statusbar span {
  padding: 0 2rem;
}

.collapse-expand-item {
  margin: 0 10px;
}

.spacer {
  margin: 0 17px;
}

.indent {
  margin: 0 28px;
}

.moveable {
  cursor: move;
}

div.icon-label {
  display: inline-block;
}

div.icon-label .material-icons {
  vertical-align: middle;
  margin-right: 8px;
  padding-bottom: 5px;
}

.mithril-date-picker-container > .mithril-date-picker > .current-date {
  width: 250px;
  background: #dddddd;
  padding: 6px;
  font-size: 19px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.input-field {
  margin-bottom: 0.5rem;
}
.input-field.inline {
  vertical-align: baseline;
}
span.inline {
  font-size: 16px;
}
.input-field.inline.xs {
  width: 70px;
}
.input-field.inline.small {
  width: 100px;
}
.input-field.inline.medium {
  width: 130px;
}
.input-field.inline.large {
  width: 160px;
}
.row {
  margin-bottom: 0;
}
.col.sb,
.row.sb {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.row.sb-hor {
  overflow-x: auto;
}
.col.sb.large,
.row.sb.large {
  height: 90vh;
}
.mm_label > ul.collection > li.collection-item {
  background: transparent;
  color: black;
}
.mm_timeline {
  font-size: 0.6em;
}
.mm_timeline h5 {
  font-size: 1rem;
}

nav .tabs,
nav .tabs .tab,
nav.nav-extended .nav-wrapper,
nav {
  height: 40px;
  line-height: 40px;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
  height: 40px;
  line-height: 40px;
}

nav .button-collapse i {
  height: 40px;
  line-height: 40px;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper,
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    min-height: 40px;
    height: 40px;
    line-height: 40px;
  }
}

i.material-icons {
  vertical-align: bottom;
}

.mst__title {
  min-width: 400px;
  /* overflow: hidden; */
}

.html-area ul {
  padding-left: 40px;
}

.html-area ul > li {
  list-style-type: square;
}

.html-area h2,
.html-area h1 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.html-area h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.html-area h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.html-area h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.html-arae h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.injects-list .mtc__container > div > ul > li {
  margin-top: 38px;
}
.mst__container {
  padding: 8px 0;
  overflow-x: visible;
  overflow-y: hidden;
}
#timeline {
  margin-top: 12px;
}
.empty-line {
  height: 70px;
}
.timeline-message {
  margin-top: 13px;
}
